.page {
  margin: 1rem 2rem;
}

.problemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.problem {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  padding: 6px;
  flex: 1 0 15%;
}

.current {
  width: 100vw;
  max-width: 300px;
}

.expanded {
  flex: 1;
}

td {
  border: 1px solid black
}

@media only screen and (min-width: 768px) {
  .problem {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .problem {
    width: 60%;
  }
}